[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "*"
asgiref = "*"
backcall = "*"
black = "*"
click = "*"
decorator = "*"
fastapi = "*"
flask = "*"
gunicorn = "*"
h11 = "*"
httptools = "*"
ipykernel = "*"
ipython = "*"
ipython-genutils = "*"
itsdangerous = "*"
jedi = "*"
jinja2 = "*"
jupyter-client = "*"
jupyter-core = "*"
markupsafe = "*"
matplotlib-inline = "*"
mypy-extensions = "*"
parso = "*"
pathspec = "*"
pexpect = "*"
pickleshare = "*"
pillow = "*"
prompt-toolkit = "*"
ptyprocess = "*"
pydantic = "*"
pygments = "*"
python-dateutil = "*"
python-dotenv = "*"
python-multipart = "*"
pyyaml = "*"
pyzmq = "*"
regex = "*"
six = "*"
starlette = "*"
toml = "*"
tornado = "*"
traitlets = "*"
typing-extensions = "*"
uvicorn = "*"
uvloop = "*"
watchgod = "*"
wcwidth = "*"
websockets = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.10"
